<%= form_with model: blog_post, local: true, class: "bg-gray-900 text-white p-8 rounded-lg shadow-lg space-y-6" do |form| %>
  <% if form.object.errors.any? %>
    <div class="bg-red-500 text-white p-4 rounded-lg">
      <% form.object.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="space-y-2">
    <%= form.label :title, class: "block text-sm font-medium text-gray-200" %>
    <%= form.text_field :title, class: "w-full p-2 bg-gray-800 text-white rounded-lg" %>
  </div>

  <div class="space-y-2">
    <%= form.label :cover_image, class: "block text-sm font-medium text-gray-200" %>
    <% if blog_post.cover_image.present? %>
      <div id="<%= dom_id(blog_post, :cover_image) %>" class="flex items-center space-x-4">
        <%= image_tag blog_post.cover_image, class: "w-1/3 rounded-lg" %>
        <%= link_to "Remove Cover Image", blog_post_cover_image_path(blog_post), class: "text-red-500 hover:underline", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    <% end %>
    <%= form.file_field :cover_image, class: "w-full p-2 bg-gray-800 text-white rounded-lg" %>
  </div>

  <div class="space-y-2">
    <%= form.label :summary, class: "block text-sm font-medium text-gray-200" %>
    <%= form.text_area :summary, class: "w-full p-2 bg-gray-800 text-white rounded-lg" %>
  </div>

  <div class="space-y-2">
    <%= form.label :content, class: "block text-sm font-medium text-gray-200" %>
    <%= form.rich_text_area :content, class: "w-full p-2 bg-gray-800 text-white rounded-lg" %>
  </div>

  <div class="space-y-2">
    <%= form.label :published_at, class: "block text-sm font-medium text-gray-200" %>
    <%= form.datetime_select :published_at, include_blank: true, class: "w-full p-2 bg-gray-800 text-white rounded-lg" %>
  </div>

  <div>
    <%= form.button 'Save', class: "w-full py-2 px-4 bg-green-500 text-white font-bold rounded-lg hover:bg-green-600" %>
  </div>
<% end %>
