<section class="relative bg-black">
  <div class="absolute inset-0 overflow-hidden z-0">
    <div class="absolute top-0 left-0 w-64 h-64 bg-gradient-to-br from-green-400 to-blue-500 opacity-50 blur-xl"></div>
    <div class="absolute top-1/2 left-1/3 w-96 h-96 bg-gradient-to-r from-yellow-400 to-red-500 opacity-50 blur-3xl"></div>
    <div class="absolute bottom-0 right-0 w-72 h-72 bg-gradient-to-tl from-purple-400 to-pink-500 opacity-50 blur-2xl"></div>
  </div>
  <div class="relative z-10 text-white pt-12 pr-0 pb-14 pl-0 bg-black bg-opacity-80">
    <div class="w-full pt-4 pr-5 pb-6 pl-5 mt-0 mr-auto mb-0 ml-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16 max-w-7xl">
      <% @blog_posts.first(1).each do |blog_post| %>
        <div class="flex flex-col items-center sm:px-5 md:flex-row">
          <div class="flex flex-col items-start justify-center w-full h-full pt-6 pr-0 pb-6 pl-0 mb-6 md:mb-0 md:w-1/2">
            <div class="flex flex-col items-start justify-center h-full space-y-3 transform md:pr-10 lg:pr-16 md:space-y-5">
              <a class="text-4xl font-bold leading-none lg:text-5xl xl:text-6xl"><%= blog_post.title %></a>
              <p class="text-sm text-gray-300"><%= truncate(blog_post.summary, length: 150) %></p>
              <div class="pt-2 pr-0 pb-0 pl-0">
                <p class="inline text-sm font-medium mt-0 mr-1 mb-0 ml-1">路 <%= blog_post.published_at.strftime('%d %b %Y') %> 路</p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2">
            <div class="block">
              <%= image_tag blog_post.cover_image, class: "object-cover rounded-lg max-h-64 sm:max-h-96 w-full h-full" if blog_post.cover_image.present? %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="grid grid-cols-12 sm:px-5 gap-x-8 gap-y-16">
        <% @blog_posts.drop(1).each do |blog_post| %>
          <div class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4">
            <%= image_tag blog_post.cover_image, class: "object-cover w-full mb-2 overflow-hidden rounded-lg shadow-sm max-h-56", alt: "Cover Image" if blog_post.cover_image.present? %>
            <a class="text-lg font-bold sm:text-xl md:text-2xl"><%= blog_post.title %></a>
            <p class="text-sm text-gray-300"><%= truncate(blog_post.summary, length: 150) %></p>
            <div class="pt-2 pr-0 pb-0 pl-0">
              <p class="inline text-xs font-medium mt-0 mr-1 mb-0 ml-1">路 <%= blog_post.published_at.strftime('%d %b %Y') if blog_post.published? %> 路</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
